- content_for :title do
  About

.row
  .main-box
    .babyname
      Arya
    .origin
      %h2 origin
      Indian
    .meaning
      %h2 meaning

      "Aryan" is an English language loanword derived from the Sanskrit Ärya. In present-day academia, the term "Aryan" has been replaced in most cases by the terms "Indo-Iranian" and "Indo-European", and "Aryan" is now mostly limited to its appearance in the term "Indo-Aryan" for Indic languages and ...

    .actions
      %a.btn.favorite{:href=>"#"}
        %i.typcn.typcn-heart
        <br/>
        Favorite

      %a.btn.pass{:href=>"#"}
        %i.typcn.typcn-arrow-forward
        <br/>
        Pass
