- content_for :title do
  About

.row#filters
  %label Gender
  %select(data-param='gender')
    %option{:value=>"any"} Any
    %option{:value=>"male"} Male
    %option{:value=>"female"} Female

  %label Category
  %select(data-param='category')
    %option{:value=>"any"} Any
    %option{:value=>"male"} Category
    %option{:value=>"female"} Ok

.row
  .main-box

  .actions
    %a.btn.favorite#favorite{:href=>"javascript:void(0)"}
      %i.typcn.typcn-heart
      <br/>
      Favorite

    %a.btn.pass#pass{:href=>"javascript:void(0)"}
      %i.typcn.typcn-arrow-forward
      <br/>
      Pass
