- content_for :title do
  About

.row
  .main-box

  .actions
    %a.btn.favorite#favorite{:href=>"javascript:void(0)"}
      %i.typcn.typcn-heart
      <br/>
      Favorite

    %a.btn.pass#pass{:href=>"javascript:void(0)"}
      %i.typcn.typcn-arrow-forward
      <br/>
      Pass
